
.custom-form-field label{
    margin: 15px 0px;
}

.modal-footer{
    margin-right: 15px;
}

.custom-form-switch{
    margin-top: 15px;
    background-size: contain
}

.form-switch .form-check-input{
    margin-top: 20px;
}
